

body {
  background: #263238;
  color: #666666;
  padding-top: 90px;
 }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px;
    height: 75px;
}
  /* line 32, ../sass/style.scss */

#spinner {
  height: 300px; }

.bookmark {
    overflow: hidden;
    padding: 5px;
    background: transparant;

}

.bookmark .bookmark-content {
    background: #37474F;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    color: #78909C;

}

.bookmark .bookmark-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.bookmark .bookmark-content small {
    display: none;
}

.bookmark .bookmark-content .tagbox {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: #455A64;
    border-bottom: 1px solid #263238;
}

.bookmark .bookmark-content .tagblock {
    display: table-cell;
}

.bookmark .bookmark-content .danger {
    background: #F44336
}

.bookmark .bookmark-content .primary {
    background: #2196F3
}

.bookmark .bookmark-content .success {
    background: #4CAF50
}

.bookmark .bookmark-content .warning {
    background: #FFC107
}

.bookmark .bookmark-content .muted {
    background: #90A4AE
}

.bookmark a {
    color: white;
}

.bookmark h3 {
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: normal;
    margin: 10px 0 0 0;
    padding: 0;
}

.bookmark .bookmarkEdit {
    position: absolute;
    right: 15px;
    top: 45px;
    color: #78909C;
}

.bookmark .bookmarkDelete {
    position: absolute;
    right: 15px;
    top: 18px;
    color: #78909C;
}

a.bookmarkDelete:hover, a.bookmarkEdit:hover {
    color: white;
}

.logo {
    padding-top: 12px;
    padding-left: 10px;
}

/* .bookmark {
  For modern browsers
  For IE 6/7 (trigger hasLayout)
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .bookmark:before, .bookmark:after {
    content: "";
    display: table; }
  .bookmark:after {
    clear: both; }
  .bookmark.invisible {
    opacity: 0; }
  .bookmark.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .bookmark.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .bookmark .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .bookmark .bookmark-content {
    float: left; }
    .bookmark .bookmark-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .bookmark .bookmark-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .bookmark .bookmark-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .bookmark .bookmark-content p {
      margin: 0; }
  .bookmark .discuss {
    display: block;
    float: right;
    margin-top: 7px; } */

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.bookmarks .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}


/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pop {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  z-index: 100;
}
