<template name="bookmarksList">
    <div class="bookmarks container-fluid">




                {{#esEach index="bookmarks"}}
                    {{> bookmarkItem}}
                {{/esEach}}

                {{#ifEsHasNoResults index="bookmarks"}}
                    <div class="no-results">No results found!</div>
                {{/ifEsHasNoResults}}

                {{#ifEsIsSearching index="bookmarks"}}
                    {{> loading}}
                {{/ifEsIsSearching}}



<!-- {{#if ownPost}}
    {{#each bookmarks}}
        {{> bookmarkItem}}
    {{/each}} -->
<!-- {{/if}} -->

    </div>
    {{> counter}}
</template>
