<template name="bookmarkEdit">

  <form class="editurl">
    <div class="fpform">

        <div class="fgroup">
            <h1><i class="fa fa-pencil-square-o"></i> Edit Bookmark</h1>
            <label class="" for="url">URL</label>
            <input name="url" id="url" type="text" value="{{url}}" placeholder="Your URL" class=""/>
        </div>
        <div class="fgroup">
            <label class="" for="title">Title</label>
            <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your bookmark" class=""/>
        </div>
        <div class="fgroup">
            <label class="">Tags</label>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default red">
                <input type="checkbox" name="tag[]" value="red" class="tagPicker red">
              </label>
              <label class="btn btn-default blue">
                <input type="checkbox" name="tag[]" value="blue" class="tagPicker blue">
              </label>
              <label class="btn btn-default green">
                <input type="checkbox" name="tag[]" value="green" class="tagPicker green">
              </label>
              <label class="btn btn-default yellow">
                <input type="checkbox" name="tag[]" value="yellow" class="tagPicker yellow">
              </label>
              <label class="btn btn-default silver">
                <input type="checkbox" name="tag[]" value="silver" class="tagPicker silver">
              </label>
            </div>
        </div>


        <div class="fgroup">
            <input type="submit" value="Submit" class="btn btn-primary submit verify"/> <a class="btn btn-primary delete pull-right" href="#"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
    <a href="{{pathFor 'bookmarksList'}}" class="closef"><i class="fa fa-times"></i></a>
  </form>

</template>
