<template name="bookmarkItem">
  <div class="bookmark col-xs-6 col-sm-4 col-md-3 hvr-pop">
    <div class="bookmark-content">
      <h3><a href="{{url}}">{{title}}</a></h3>
      <span>{{domain}}</span>
      <div class="tagbox">
          {{#each tags}}
              <span class="tagblock {{this}}" aria-hidden="true"></span>
          {{/each}}
      </div>
      <small>{{timestamp}}</small>
    <a href="{{pathFor 'bookmarkPage'}}" class="bookmarkEdit"><i class="fa fa-ellipsis-h"></i></a>
    <a href="{{pathFor 'bookmarkPage'}}" class="bookmarkDelete"><i class="fa fa-times"></i></a>
    </div>
  </div>
</template>
