<template name="landingPage">

<div id="hero">
    <div class="dots">
        <div class="caption">
            <img src="/img/hero_logo.png">
            <h2>A Simple Solution to Manage All of Your Links</h2>
        </div>
    </div>
</div>
<section class="content dark" id="main">
    <div class="container" id="scrolltop">
        <img src="img/glasses.svg">
        <h2>Finding What You're Looking for <span class="nobreak">Should Be Simple!</span></h2>
        <p>We created Linxz because we believe finding the right bookmark shouldn't be like finding a needle in a haystack.</p>
    </div>
</section>
<section class="content">
    <div class="container">
        <h2>We Built Linxz with These <span class="nobreak">Amazing Tools</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci corporis facere alias veniam minus quasi earum consequuntur cum iste. Numquam beatae aliquid ut non corporis, eveniet delectus saepe sit.</p>

        <div class="libraries_big">
            <img src="img/meteor.svg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsam provident omnis vero illo veniam libero facilis deserunt recusandae at sed necessitatibus, odit vel, placeat assumenda totam a laborum. Eius?</p>

            <img src="img/node.svg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsam provident omnis vero illo veniam libero facilis deserunt recusandae at sed necessitatibus, odit vel, placeat assumenda totam a laborum. Eius?</p>

            <img src="img/mongo.svg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsam provident omnis vero illo veniam libero facilis deserunt recusandae at sed necessitatibus, odit vel, placeat assumenda totam a laborum. Eius?</p>
            <div class="libraries_small">
                <img src="img/jeet.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui molestias inventore nostrum pariatur culpa ex, cumque corporis hic vero.</p>
            </div>
            <div class="libraries_small">
                <img src="img/stylus.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui molestias inventore nostrum pariatur culpa ex, cumque corporis hic vero.</p>
            </div>
            <div class="libraries_small">
                <img src="img/underscore.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui molestias inventore nostrum pariatur culpa ex, cumque corporis hic vero.</p>
            </div>
            <div class="libraries_small">
                <img src="img/fontawesome.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui molestias inventore nostrum pariatur culpa ex, cumque corporis hic vero.</p>
            </div>
            <div class="libraries_small">
                <img src="img/digitalocean.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui molestias inventore nostrum pariatur culpa ex, cumque corporis hic vero.</p>
            </div>
            <div class="libraries_small">
                <img src="img/compose.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui molestias inventore nostrum pariatur culpa ex, cumque corporis hic vero.</p>
            </div>
        </div>

    </div>
</section>

</template>
